environment/
.env

DEVELOP

*.pyc
*~
*.sh
*.swp
*.dump
*.sqlite3
backend/*.sqlite3
.expo/
.env
backend/db.sqlite3
backend/static/
backend/templates/bacchus/
# backend/staticfiles/
# backend/mediafiles/