[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
all = """sh -c \"
    docker-compose run web python manage.py makemigrations \
    && docker-compose run web python manage.py migrate \
    && docker-compose run web python manage.py runserver localhost:8000 \
\"
"""
update = """sh -c \"
    docker-compose run web python manage.py makemigrations \
    && docker-compose run web python manage.py migrate \
\"
"""
runserver = """sh -c \"docker-compose run web python manage.py runserver localhost:8000 \""""
makemigrations = """sh -c \"docker-compose run web python manage.py makemigrations \""""
migrate = """sh -c \"docker-compose run web python manage.py migrate \""""
migrateMamon = """sh -c \"ssh root@metis dokku run mamon python backend/manage.py migrate \""""
migrateStaging = """sh -c \"ssh root@metis dokku run staging-mamon python backend/manage.py migrate \""""
shell = """sh -c \"docker-compose run web python manage.py shell \""""
collectStatic = """sh -c \"docker-compose run web python manage.py collectstatic \""""
start = """sh -c \"cd app && expo start \""""
freeze = """sh -c \"pip freeze > $(pwd)/backend/requirements.txt \""""
createsuperuser = """sh -c \"docker-compose run web python manage.py createsuperuser \""""
backup_mamon = """sh -c \"ssh root@metis dokku run mamon python backend/manage.py dumpdata --indent 4 > $(pwd)/data/db_real_$(date  +%m_%d_%Y).json\""""
backup_local = """sh -c \"docker-compose run web python manage.py dumpdata --indent 4 > $(pwd)/data/local_db_$(date  +%m_%d_%Y).json\""""
restore_local = """sh -c \"docker-compose run web python manage.py loaddata local_db_$(date  +%m_%d_%Y).json\""""
flush_local = """sh -c \"docker-compose run web python manage.py flush \""""
docker = """sh -c \"docker-compose run web python manage.py\""""

[packages]
asgiref = "==3.5.2"
certifi = "==2022.6.15"
charset-normalizer = "==2.1.0"
django = "==4.1"
django-colorfield = "==0.7.2"
django-cors-headers = "==3.13.0"
django-storages = "==1.13.1"
djangorestframework = "==3.13.1"
djangorestframework-jwt = "==1.11.0"
djangorestframework-simplejwt = "==5.2.0"
gunicorn = "==20.1.0"
idna = "==3.3"
pillow = "==9.2.0"
psycopg2-binary = "==2.9.3"
pyjwt = "==1.7.1"
pytz = "==2022.2.1"
requests = "==2.28.1"
sqlparse = "==0.4.2"
urllib3 = "==1.26.11"
whitenoise = "==6.2.0"
django-seed = "==0.3.1"
django-nonrelated-inlines = "==0.2"
django-admin-interface = "==0.22.2"
django-simple-history = "==3.2.0"
drf-yasg = "==1.21.4"
django-rest-swagger = "==2.2.0"
drf-yasg2 = "==1.19.4"
pyyaml = "==6.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
django-flat-responsive = "==2.0"
django-flat-theme = "==1.1.4"
faker = "==15.3.3"
inflection = "==0.5.1"
itypes = "==1.2.0"
jinja2 = "==3.1.2"
markupsafe = "==2.1.1"
mollie-api-python = "==2.13.0"
oauthlib = "==3.2.2"
openapi-codec = "==1.3.2"
packaging = "==21.3"
pyparsing = "==3.0.9"
python-dateutil = "==2.8.2"
requests-oauthlib = "==1.3.1"
"ruamel.yaml" = "==0.17.21"
"ruamel.yaml.clib" = "==0.2.7"
simplejson = "==3.18.0"
six = "==1.16.0"
toposort = "==1.7"
uritemplate = "==4.1.1"

[dev-packages]

[requires]
python_version = "3.11"
