[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
all = """sh -c \"
    docker-compose run web python manage.py makemigrations \
    && docker-compose run web python manage.py migrate \
    && docker-compose run web python manage.py runserver localhost:8000 \
\"
"""
update = """sh -c \"
    docker-compose run web python manage.py makemigrations \
    && docker-compose run web python manage.py migrate \
\"
"""
runserver = """sh -c \"docker-compose run web python manage.py runserver localhost:8000 \""""
makemigrations = """sh -c \"docker-compose run web python manage.py makemigrations \""""
migrate = """sh -c \"docker-compose run web python manage.py migrate \""""
migrateMamon = """sh -c \"ssh root@metis dokku run mamon python backend/manage.py migrate \""""
shell = """sh -c \"docker-compose run web python manage.py shell \""""
collectStatic = """sh -c \"docker-compose run web python manage.py collectstatic \""""
start = """sh -c \"cd app && expo start \""""
freeze = """sh -c \"pip freeze > $(pwd)/backend/requirements.txt \""""
createsuperuser = """sh -c \"docker-compose run web python manage.py createsuperuser \""""
backup_mamon = """sh -c \"ssh root@metis dokku run mamon python backend/manage.py dumpdata --indent 4 > $(pwd)/data/db_real_$(date  +%m_%d_%Y).json\""""

[packages]
asgiref = "==3.5.2"
certifi = "==2022.6.15"
charset-normalizer = "==2.1.0"
django = "==4.0"
django-colorfield = "==0.7.2"
django-cors-headers = "==3.13.0"
django-storages = "==1.13.1"
djangorestframework = "==3.13.1"
djangorestframework-jwt = "==1.11.0"
djangorestframework-simplejwt = "==5.2.0"
gunicorn = "==20.1.0"
idna = "==3.3"
pillow = "==9.2.0"
psycopg2-binary = "==2.9.3"
pyjwt = "==1.7.1"
pytz = "==2022.2.1"
requests = "==2.28.1"
sqlparse = "==0.4.2"
urllib3 = "==1.26.11"
whitenoise = "==6.2.0"
django-seed = "*"
django-nonrelated-inlines = "*"
django-admin-interface = "*"

[dev-packages]

[requires]
python_version = "3.10"
