asgiref==3.5.2
black==22.3.0
boto3==1.24.0
botocore==1.27.7
cachetools==5.2.0
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
cryptography==37.0.2
distlib==0.3.4
Django==4.1a1
django-colorfield==0.7.2
django-cors-headers==3.12.0
django-rest-framework==0.1.0
django-storages==1.12.3
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
et-xmlfile==1.1.0
filelock==3.7.1
google-api-core==2.8.1
google-api-python-client==2.37.0
google-auth==2.7.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-core==2.3.1
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
jmespath==1.0.0
jwt==1.3.1
mypy-extensions==0.4.3
numpy==1.23.0rc3
oauth2client==4.1.3
oauthlib==3.2.0
openpyxl==3.0.9
pandas==1.4.2
pathspec==0.9.0
Pillow==9.0.1
pipenv==2022.7.24
platformdirs==2.5.2
protobuf==3.20.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.0
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
uritemplate==4.1.1
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
whitenoise==6.0.0
