{% extends 'main.html' %} {% block content %}
<div class="column  is-offset-3">
  <form action="" method="GET" class="column">
    <div class="column is-half">
      <label for="start_date">Start Date</label>
      <input type="datetime-local" name="start_date" id="start_date" class="input" value="{{start_date}}" />
    </div>
    <div class="column is-half">
      <label for="end_date">End Date</label>
      <input class="input" type="datetime-local" name="end_date" id="end_date" value="{{end_date}}" />
      <input class="button is-success" type="submit" value="Submit" style="align: riht" />
    </div>
  </form>
  <div class="column columns is-half is-mobile is-multiline is-centered">
    {% if barcycles %} {% for barcycle in barcycles %}
    <div class="card column is-narrow" style="margin: 10px">
      <div class="card-header" style="background-color: grey; color: white; padding: 20px">
        {{barcycle.opening_report.date}} {% if barcycle.closing_report %}
        <td>{{barcycle.closing_report.date}}</td>
        {% else %}
        <td>Niet afgesloten</td>
        {% endif %}
      </div>
      <div class="card-content" style="text-align: center">
        <p><b>Opening: </b>{{barcycle.opening_report.total_cash}}</p>
        <p>
          <b>Closing: </b>
          {% if barcycle.closing_report %}
          <td>{{barcycle.closing_report.total_cash}}</td>
          {% else %}
          <td>Niet afgesloten</td>
          {% endif %}
        </p>
        <p><b>Turnover: </b>{{barcycle.total_sales}}</p>
        <br />
        <span class="columns image is-48x48">
          <dic class="column is-one-forth"></dic>
          <img
            class="column is-rounded is-one-forth"
            src="{{barcycle.opening_report.personel.image_url}}"
            alt="{{barcycle.opening_report.personel.name}}"
            style="background-color: black"
          />
          {% if barcycle.closing_report %}
          <img
            class="column is-rounded is-one-forth"
            src="{{barcycle.closing_report.image.url}}"
            alt="{{barcycle.closing_report.personel.name}}"
            style="background-color: black"
          />
          {% endif %}
          <dic class="column is-one-forth"></dic>
        </span>
        <br />

        <a class="button" href="{% url 'barcycle' barcycle.id %}">Details</a>
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock content %}
