{% extends 'main.html' %} {% block content %}
<div class="column">
  <div class="column columns is-mobile is-multiline is-centered">
    {% if barcycles %} {% for barcycle in barcycles %}
    <!-- This is an even number, skip it -->
      <div class="card column is-narrow" style="margin: 10px">
        <div class="card-header" style="background-color: grey; color: white; padding: 20px">
          {{barcycle.opening_report.date}} Tot {% if barcycle.closing_report %}
          <td>{{barcycle.closing_report.date}}</td>
          {% else %}
          <td>Niet afgesloten</td>
          {% endif %}
        </div>
        <div class="card-content" style="text-align: center; justify-content: center">
          <p><b>Opening Cash: </b>{{barcycle.opening_report.total_cash}}</p>
          <p>
            <b>Sluiting Cash: </b>
            {% if barcycle.closing_report %}
            <td>{{barcycle.closing_report.total_cash}}</td>
            {% else %}
            <td>Niet afgesloten</td>
            {% endif %}
          </p>
          <p><b>Turnover: </b>{{barcycle.total_sales}}</p>
          <br />
          <div class="columns is-centered">
            <div class="column is-3 is-centered">
              <img
                class="image is-rounded is-48x48"
                src="{{barcycle.opening_report.personel.image_url}}"
                alt="{{barcycle.opening_report.personel.name}}"
                title="{{barcycle.opening_report.personel.name}}"
              />
            </div>
            <div class="column is-3 is-centered">
              {% if barcycle.closing_report %}
              <img
                class="image is-rounded is-one-forth is-48x48"
                src="{{barcycle.closing_report.image.url}}"
                alt="{{barcycle.closing_report.personel.name}}"
                title="{{barcycle.closing_report.personel.name}}"
              />
              {% endif %}
            </div>
            <br />
          </div>
          <a class="button" href="{% url 'barcycle' barcycle.id %}">Details</a>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
  {% endblock content %}
</div>
