{% extends 'main.html' %} {% load pagination_tags %}{% load purchase_tags %} {% block content %}
<div class="columns">
  <div class="column is-half">
    <form action="" method="GET" class="columns">
      <div class="column is-half">
        <label for="start_date">Start Date</label>
        <input type="datetime-local" name="start_date" id="start_date" class="input" required value="{{ start_date}}" />
      </div>
      <div class="column is-half">
        <label for="end_date">End Date</label>
        <input class="input" type="datetime-local" name="end_date" id="end_date" required value="{{ end_date }}" />
        <input class="button is-success" type="submit" value="Submit" style="align: right" />
      </div>
    </form>
    <form action="" method="POST" class="columns">
      {% csrf_token %}
      <div class="column is-half">
        <input class="button is-info" type="submit" value="Download" />
      </div>
    </form>

    {% if products_quant %}
    <h1 class="title">Producten</h1>
    {%include 'pagination.html' with pageName='product_page' queryset=products_quant custom_range=pages_products_quant%}
    <table class="table is-fullwidth">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Revenue</th>
      </tr>
      {% for product, quant in products_quant %}
      <tr>
        <td><a href="{% url 'overviewProduct' product.id %}?{{request.GET.urlencode}}">{{product.name}}</a></td>
        <td>{{quant}}</td>
        <td>€{{quant|multiply:product.price}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %} {% if purchases%}
    <h1 class="title">Purchases</h1>
    {% include 'pagination.html' with pageName='purchase_page' queryset=purchases custom_range=pages_purchases %}
    <table class="table is-fullwidth">
      <tr>
        <th>Order Date</th>
        <th>Price</th>
        <th>Products</th>
      </tr>
      {% for purchase in purchases %}
      <tr>
        <td>{{purchase.created}}</td>
        <td>{{purchase.total|round_to:2}}</td>
        <td>
          {% for item in purchase.orders.all %} {{item.product.name}}: {{item.quantity}}<br />
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
  {% comment %} make table for products {% endcomment %}

  <div class="column">
    <table class="table is-fullwidth">
      <tr></tr>
      <tr>
        <th title="This is the total amount of money that has been payed by people in the Bezoekers group">Drankafname Bezoekerspassen</th>
        <td>{{bezoekers_pasen|round_to:2}}</td>
      </tr>
      <tr>
        <th title="These are all the refunds that take place during this time period">refund bar (rectificaties)</th>
        <td>{{refunds|round_to:2}}</td>
      </tr>
      <tr title="This is a summation of all the money in mamon wallets">
        <th>Total Bedrag in Standen</th>
        <td>{{holder_stands|round_to:2}}</td>
        {% comment %} all the money that has entered according to wallet upgrades {% endcomment %}
      </tr>
      <tr title="give a description of what each of these potjes is and what it holds to Gustavo">
        <th>Total wallet upgrade</th>
        <td>{{walletUpgrades|round_to:2}}</td>
        {% comment %} all the money that has entered according to wallet upgrades {% endcomment %}
      </tr>
    </table>
    <table class="table is-fullwidth">
      <tr></tr>
      <tr>
        <th
          title="This is the total revenue of the (category) bar (different to bacchus where this was only the revenue of the bar that passed by outlayman)"
        >
          Baromzet Wallet
        </th>
        <td>{{barOmzetWallet|round_to:2}}</td>
      </tr>
      <tr>
        <th title="The total amount that has been payed by card - the amount payed my card for the Bar category">Baromzet Pin</th>
        <td>{{barOmzetPin|round_to:2}}</td>
      </tr>
      <tr>
        <th title="This is the total revenue of the (category) bar that was payed by cash ">Baromzet Cash</th>
        <td>{{barOmzetCash|round_to:2}}</td>
      </tr>
    </table>
    <table class="table is-fullwidth">
      <tr></tr>
      <tr>
        <th
          title="This is the total revenue of the (category) bar (different to bacchus where this was only the revenue of the bar that passed by outlayman)"
        >
          Hapomzet Wallet
        </th>
        <td>{{hapOmzetWallet|round_to:2}}</td>
      </tr>
      <tr>
        <th title="The total amount that has been payed by card - the amount payed my card for the hap category">Hapomzet Pin</th>
        <td>{{hapOmzetPin|round_to:2}}</td>
      </tr>
      <tr>
        <th title="This is the total revenue of the (category) hap that was payed by cash ">Hapomzet Cash</th>
        <td>{{hapOmzetCash|round_to:2}}</td>
      </tr>
    </table>
    <table class="table">
      <tr title="give a description of what each of these potjes is and what it holds to Gustavo">
        <th>Handelswaar</th>
        <td>{{handelswaar|round_to:2}}</td>
        {% comment %} all the bestuur kamer catergories {% endcomment %}
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
