{% extends 'main.html'%}{% load purchase_tags %} {% block content %} {% if products%}
<div>
  <h1 class="title" style="text-align: center">Producten</h1>
  <table class="table" style="text-align: center">
    <thead>
      <tr>
        <th>Producten</th>
        <th>Prijs</th>
        <th>Hoeveelheid besteld</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>
          <a href="{% url 'product' product.id %}">{{ product.name }}</a>
        </td>
        <td>€{{ product.price }}</td>
        <td>{{quantity|get_item:product.id }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {%include 'pagination.html' with pageName='product_page' queryset=products custom_range=custom_range %}
  <br />
</div>

{% endif %}{% endblock content %}
