{% extends 'main.html'%}{% load purchase_tags %} {% block content %} {% if products%}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.id }}</td>
      <td>
        <a href="{% url 'product' product.id %}">{{ product.name }}</a>
      </td>
      <td>€{{ product.price }}</td>
      <td>{{ product.description }}</td>

      <td>{{quantity|get_item:product.id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}{% endblock content %}
