{% extends 'main.html'%} {% block content%} {% if page == 'register' %} {%comment %}
<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <!-- <img src="images/icon.svg" alt="icon" /> -->
      </a>
      <h3>Register an Account</h3>
      <p>Create a new account</p>
    </div>

    <form action="{% url 'register' %}" method="POST" class="form auth__form">
      {% csrf_token %} {% for field in form %}

      <!-- Input:Text -->
      <div class="form__field">
        <label for="formInput#text">{{field.label}}: </label>
        {{field}}
      </div>
      <!-- {% if field.help_text %}
      <small>{{field.help_text}}</small>
      {% endif %} -->

      {% for error in field.errors %}
      <p style="color: red">{{error}}</p>
      {% endfor %} {% endfor %}
      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
      </div>
    </form>
    <div class="auth__alternative">
      <p>Already have an Account?</p>
      <a href="{% url 'login' %}">Log In</a>
    </div>
  </div>
</div>
{% endcomment %} {% else %} {% comment %} center this div {% endcomment %}
<div
  style="
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    margin-top: 50px ;
  "
>
  {% comment %} class="column is-3-desktop is-two-thirds-mobile is-centered" {% endcomment %}
  <div class="card">
    <h3 class="title">Login</h3>
    <form action="" method="POST" class="card-content">
      {% csrf_token %}

      <div class="field">
        <p class="control">
          <input class="input" type="username" placeholder="Username" type="text" name="username" />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input" type="password" placeholder="Password" name="password" />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-success">Login</button>
        </p>
      </div>
    </form>
    {% comment %}
    <div class="auth__alternative">
      <p>Don’t have an Account?</p>
      <a href="{% url 'register' %}">Sign Up</a>
    </div>
    {% endcomment %}
  </div>
</div>

{% endif %} {% endblock content%}
