{% extends 'main.html'%}
{% block navbar %}
<nav
  class="navbar columns is-offset-2 column is-two-thirds"
  role="navigation"
  aria-label="main navigation"
  style="background-color: #edeff1"
>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item" href="{% url 'landing' %}">Home</a>
      </div>
    </div>
  </div>
</nav>

{% endblock navbar %}
{% block content%}
<div class="column is-one-fifth" style="margin-top: 100px">
  <div>
    <div style="text-align: center; justify-content: center; margin-bottom: 50px">
      <p class="title is-1" style="text-align: center">Login</p>
    </div>
  </div>
  <div class="card">
    <form action="" method="POST" class="card-content">
      {% csrf_token %}
      <div class="field">
        <p class="control">
          <input class="input" type="username" placeholder="Username" type="text" name="username" />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input" type="password" placeholder="Password" name="password" />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button type="submit" class="button is-success">Login</button>
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock content%}
