{% if request.user.is_authenticated %}

<nav
class="navbar columns is-offset-2 column is-two-thirds"
role="navigation"
aria-label="main navigation"
style="background-color: #edeff1"
>
<div class="navbar-brand">
  {% comment %}
  <a class="navbar-item" href="https://bulma.io">
    <img src="" width="112" height="28" />
    </a>
    {% endcomment %}
    
    <a
    role="button"
    class="navbar-burger"
    aria-label="menu"
    aria-expanded="false"
    data-target="navbarBasicExample"
    >
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  {% if request.user.personel %}
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"href={% url 'barcycles' %} > Bar Cycles </a>
      <a class="navbar-item"href={% url 'overview' %} > Overview </a>
      <a class="navbar-item" href={% url 'app' %}> App</a>
      
      <a class="navbar-item"> Stock Mutations </a>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Products </a>
        
        <div class="navbar-dropdown">
          <a class="navbar-item" href='{% url "products"%}'> All products </a>
          <a class="navbar-item"> Create Unit </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Categories </a>
          <a class="navbar-item"> Create Categories</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Users </a>
        
        <div class="navbar-dropdown">
          <a class="navbar-item"> Overview Users </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Create User </a>
        </div>
      </div>
    </div>
    {% else %}
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'userHome' %}"> Home </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Producten </a>
          
          <div class="navbar-dropdown">
            <a class="navbar-item" href='{% url "products"%}'> Alle Producten </a>
          </div>
      </div>
    </div>
    {% endif %}
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">(€{{request.user.holder.stand}}) {{request.user.holder.name}} </a>
        <div class="navbar-dropdown">
          {% if request.user.is_superuser or request.user.is_staff %}
          <a class="navbar-item" href="/admin/"/> Admin </a>
          <hr class="navbar-divider" />
          {% endif %}
          
          <a class="navbar-item" href="{% url 'userHome' %}"> Home </a>
          <a class="navbar-item" href="{% url 'products'%}"> Alle Producten </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> View Profile </a>
          <a class="navbar-item"> Edit Profile </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="{% url 'logout' %}"> Log Out </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{% endif %}