<nav
  class="navbar columns is-offset-2 column is-two-thirds"
  role="navigation"
  aria-label="main navigation"
  style="background-color: #edeff1"
>
  <div class="navbar-brand">
    {% comment %}
    <a class="navbar-item" href="https://bulma.io">
      <img src="" width="112" height="28" />
    </a>
    {% endcomment %}

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item"> Bar Cycles </a>

      <a class="navbar-item"> Stock Mutations </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Products </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href='{% url "products"%}'> All products </a>
          <a class="navbar-item"> Create Unit </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Categories </a>
          <a class="navbar-item"> Create Categories</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Users </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> Overview Users </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Create User </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Profile </a>

        <div class="navbar-dropdown">
          <a class="navbar-item"> View Profile </a>
          <a class="navbar-item"> Edit Profile </a>
          <hr class="navbar-divider" />
          <a class="navbar-item"> Log Out </a>
        </div>
      </div>
    </div>
  </div>
</nav>
