{% if request.user.is_authenticated %}{% load auth_tags %}

<nav
  class="navbar columns is-offset-2 column is-two-thirds"
  role="navigation"
  aria-label="main navigation"
  style="background-color: #edeff1"
>
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% url 'userHome' %}"> Home </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Producten </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'products'%}"> Mijn Producten </a>
        </div>
      </div>
      {% comment %} <a class="navbar-item" href="{% url 'paymentUpgrade'%}"> Geld opwarderen </a> {% endcomment %}
      {% if request.user|has_group:'Bestuur' %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Overzicht </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{% url 'overview' %}"> Overview </a>
          <a class="navbar-item" href="{% url 'barcycles' %}"> Bar Cycles </a>
          <a class="navbar-item" href="{% url 'daily overview' %}"> Dagelijks Overview </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="{% url 'products overview'%}"> Alle Producten </a>
          <a class="navbar-item" href="{% url 'product creation' %}"> Product Aanmaken </a>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="{% url 'personelOverview' %}"> Overzicht Personnel </a>
          {% comment %}<a class="navbar-item"> Categorien </a>
          <a class="navbar-item" href="{% url 'category creation' %}"> Categorie Aanmaken </a> {% endcomment %}
          <hr class="navbar-divider" />
        </div>
      </div>
      {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">(€{{request.user.holder.stand}}) {{request.user.holder.name}} </a>
        <div class="navbar-dropdown">
          {% if request.user.is_superuser or request.user.is_staff %}
          <a class="navbar-item" href="/admin/"> Admin </a>
          {% comment %}
          <hr class="navbar-divider" />
          {% endcomment %} {% endif %}

          <a class="navbar-item" href="{% url 'userHome' %}"> Home </a>
          <a class="navbar-item" href="{% url 'products'%}"> Alle Producten </a>
          <a class="navbar-item" href="{% url 'paymentUpgrade'%}"> Geld opwarderen </a>
          {% comment %}
          <hr class="navbar-divider" />
          <a class="navbar-item"> View Profile </a>
          <a class="navbar-item"> Edit Profile </a> {% endcomment %} {% comment %}
          <hr class="navbar-divider" />
          {% endcomment %}
          <a class="navbar-item" href="{% url 'logout' %}"> Log Out </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll(".navbar-burger"), 0);

    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach((el) => {
        el.addEventListener("click", () => {
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          el.classList.toggle("is-active");
          $target.classList.toggle("is-active");
        });
      });
    }
  });
</script>

{% endif %} {% comment %} create a function to hide the dropdown {% endcomment %}
